image/disk_image
tools/boot/stage1.bin
tools/boot/stage2.bin
tools/fat/fatcopy
tools/fat/fatdel
tools/fat/fatdir
tools/fat/fatformat
tools/fat/fatmd
tools/fat/fatsys
tools/ttc/ttc.jar
tos.img
ttc.jar
*.o
